<header> 
    <a href="/"><img id="mascot" src="/public/images/название.png"></a>    
    <div class="slideshow-container">   
      <div class="mySlides fade">
        <img src="https://images-s.kinorium.com/movie/shot/29675/w1500_50336659.jpg" >
      </div>
      <div class="mySlides fade">
        <img src="/public/images/кот.jpeg" >
      </div>
      <div class="mySlides fade">
        <img src="https://www.soyuz.ru/public/uploads/files/2/7391933/2019092620492646443cdbfe.jpg">
      </div> <img class="catsDogs" src="/public/images/экран4.png" >
    </div>  
</header> 
