<!DOCTYPE html>
<html>
<head>
    <title>{{category.name}}</title>
    <meta charset="utf-8" />    
     <link rel="stylesheet" href="../style.css">  {{!--  --}}
</head>
<body>
   {{> menu}}
    {{#if category}}
    <h3>Редактирование категории "{{category.name}}"</h3>
    {{/if}}
    {{#unless category}}
    <h3>Новый категория</h3>
    {{/unless}}
    <table>
        <tr class="main"> 
            <td>
           
                <form action="/category_edit" method="POST"> <h4 class="film_title">Характеристики категории:</h4>
                    <input type="hidden" name="id" value="{{category.category_id}}" />
                    <table>
                        <tr >
                            <td align="right"><label>Название:</label></td>
                            <td><input name="name" class="field" maxlength="128" value="{{category.name}}" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Сохранить" /> </td>   
                        </tr>        
                    </table>
                </form>
            </td>
        </tr>
    </table>

    </br>         
     <a href="/categories">К списку категорий</a>
</body>
<html>